.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    .header__wrapper {
        display: flex;
        align-items: center;
        width: 960px;
        height: 100%;
        padding: 0px 76.1094px;
        margin: 0px 471.5px;
        gap: 30vw;
        img {
            width: 120px;
            height:40px;
        }
        nav {
            flex-grow: 1;
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header__nav-li {
                    list-style-type: none;
                    font-size: 14.4px;
                    height: 21px;
                    display: flex;
                    justify-content: flex-end;
                    .header__nav-link {
                        font-size: 14.4px;
                        height: 21px;
                        text-decoration: none;
                    }
                }
                .header__nav-li_bicycle {
                    list-style-type: none;
                    font-size: 14.4px;
                    height: 21px;
                    display: flex;
                    justify-content: flex-end;
                    .header__nav-link_bicycle {
                        font-size: 14.4px;
                        height: 21px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}