#main {
    .main__mainvisual {
        margin-bottom: 80px;
        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }
    #main__about-wrapper {
        width: 960px;
        height: 216px;
        margin: 0px 471.5px 100px;
        padding: 0px 76.1094px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__about {
            font-size: 32px;
            height: 49px;
            width: 100.88px;
            margin: 0px 0px 60px;
            border-bottom: 3px solid black;
        }
        .main__content {
            height: 107px;
            display: flex;
            justify-content: space-between;
            .main__img-profile {
                width: 100px;
                height: 100px;
                margin: 0px 30px 0px 0px;
                border-radius: 50%;
            }
            .main__profile {
                display: flex;
                flex-direction: column;
                .main__name {
                    font-size: 16px;
                    }
                .main__introduction-text {
                    font-size: 16px;
                }
            }
        }
    }
}